<style>
header {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #b5b5b5;
}
.logo-row{
  text-align: center;
}
.logo {
  width: 120px;
  height: 150px;
  text-align: center;
}
</style>

<header>
    <div class="row">
      <div class="logo-row">
        <%= image_tag("logo-easypallet.png", :alt => "",  width:"360", height:"200") %>
      </div>
    </div>
</header>